.product-card {
    display: block;
    position: relative;
    margin: 30px;
    padding: 10px;
    align-self: center;
    width: 250px;
    height: 350px;
    /* background-color: rgba(255, 108, 132, 0.55) !important; */
    box-shadow: 1px 1px 1px 1px;
    /* z-index: 0; */
    transition: linear 0.1s;
}

.product-card:hover {
    display: block;
    position: relative;
    margin: 30px;
    /* padding: 10px; */
    align-self: center;
    /* width: auto; */
    /* background-color: red; */
    zoom: 1%;
    box-shadow: 3px 3px 3px 3px;
}

.product-img {
    text-align: center;
    height: 70%;
    width: 100%;
}

.product-name {
    /* position: relative; */
    bottom: 9px;
    left: 0px;
    font-size: 30px;
    font-weight: bold;
    text-align: left;
    font-family: courier;
    color: black;
    overflow-x: hidden;
}

.product-type {
    display: block;
    position: relative;
    bottom: 202px;
    left: 67px;
    font-size: 27px;
    color: gray;
}

.product-sub-type {
    display: block;
    position: relative;
    bottom: 229px;
    left: 132px;
    color: grey;
}

.product-price {
    color: red;
    font-size: 20px;
    text-align: right;
}

.product-details {
    position: absolute;
    left: 140px;
    top: -34%;
}

.gallary {
    display: grid;
    grid-template-columns: auto auto auto auto;
    overflow-y: scroll;
    height: 800px;
}

.gallary-container {
    display: block;
    border: cyan;
    height: 80%;
    width: 80%;
    overflow-y: scroll;
    margin: auto;
    /* margin-top: 10px; */
    border-radius: 1%;
    /* box-shadow: 1px 1px 1px 1px; */
    z-index: -1;
    /* background-color: #2196F399; */
}